<div id="navBar">
    <a [routerLink]="['/home']" class="logo" rel="index">
        <span class="first">A</span>
        <span class="short">Aleks..</span>
    </a>

    <nav class="icons">
        <a [routerLink]="['/home']"><i class="fa fa-home"></i></a>
        <a [routerLink]="['/about']"><i class="fa fa-user-secret"></i></a>
        <a [routerLink]="['/skills']"><i class="fa fa-code"></i></a>
        <a [routerLink]="['/mywork']"><i class="fa fa-picture-o"></i></a>
        <a [routerLink]="['/contact']"><i class="fa fa-envelope-o"></i></a>
    </nav>

    <ul>
        <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
        <li><a href="skype:sg.oleksandr.sh?chat"><i class="fa fa-skype" aria-hidden="true"></i> </a></li>
        <li><a href="www.instagram.com/oshevchuk7"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
</div>